---
layout: default
title: authors
---

<section>
	<h1>{{ page.title }}</h1>
{% for author in site.authors %}
    <section class="author">
        <h2 class="section-title">{{ author.name }} <small><a id="{{ author.short_name }}" href="https://twitter.com/{{ author.twitter }}">@{{ author.short_name }}</a></small></h2>
        <section class="section-description">{{ author.content | markdownify }}</section>
        <section>
            <h3 class="section-title">authored</h3>
            <ul class="posts">
            {% assign filtered_posts = site.posts | where: 'author', author.short_name %}
            {% for post in filtered_posts %}
                {% include list_post.html %}
            {% endfor %}
            </ul>
        </section>
    </section>
{% endfor %}
</section>