---
layout: default
---

<section>
    <h1>all <small>{{ site.posts | size }}</small></h1>
{% for post in site.posts %}
    {% capture day %}{{ post.date | date: '%m%d%Y' }}{% endcapture %}
    {% capture nday %}{{ post.next.date | date: '%m%d%Y' }}{% endcapture %}
    {% if day != nday %}
    {% unless forloop.first %}</ul> {% endunless %}
    <h2 class="section-title semantic-h-font-size">{{ post.date | date: "%a, %e %b %Y" }}</h2>
    <ul class="posts">
    {% endif %}
        {% include list_post.html show_date = 0 %}
{% endfor %}
</section>

