<header role="banner">
   <input type="radio" name="nav-toggle" id="close" checked="checked">
   <input type="radio" name="nav-toggle" id="open">
   <label for="open" class="navigation-label">menu</label>
   <nav role="navigation">
      <ul>
         <li class="navigation-label main-navigation-close"><label for="close">close</label></li>
         {% for item in site.data.navigation.links %}
         <li><a href="{{ item.url }}" {% if item.url == page.url %} class="active" {% endif %}>{{ item.title }}</a></li>
         {% endfor %}
         <li id="theme-toggle-item"><a id="theme-toggle" title="Toggle dark/light theme" href="javascript:void(0)"
               onclick="toggleTheme()"></a></li>
         {% if page.previous.url %}
         {% assign post=page.previous %}
         <li class="nav-post-link"><a href="{{ page.previous.url }}">prev</a></li>
         <li class="nav-post" title="{{ page.previous.title }}">{{ page.previous.title }}</li>
         {% endif %}
         {% if page.next.url %}
         {% assign post=page.next %}
         <li class="nav-post-link"><a href="{{ page.next.url }}">next</a></li>
         <li class="nav-post" title="{{ page.next.title }}">{{ page.next.title }}</li>
         {% endif %}
      </ul>
   </nav>
</header>