$unopinionated_color: #88888840;
$unopinionated_color_lighter: #88888820;

$redish: #801;
$redish_hovered: #856;

$dark_redish: #f89;
$dark_redish_hovered: #fcb;

html {
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

body {
	font-family: 'Ubuntu', system-ui, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	line-height: 1.5;
	font-size: 1rem;
	padding: 0;
	margin: 0;
	color: #555;
	transition: background-color .75s;
}

a {
	color: #801;
	text-decoration: none;
}

a:hover {
	color: #856;
	text-decoration-style: solid;
	text-decoration-line: underline;
}

article>p {
	a {
		text-decoration-line: underline;
		text-decoration-style: solid;
	}

	a:hover {
		text-decoration: none;
	}
}

#theme-toggle::before {
	display: inline;
	content: '🌛';
}

@mixin dark_theme {
	html {
		content: 'dark';
	}

	body {
		color: #ccc;
		background-color: #333;
	}

	a {
		color: #f89;
	}

	a:hover {
		color: #fcb;
	}

	#theme-toggle::before {
		content: '🌞';
	}

	input {
		color: rgb(233, 232, 229);
	}
}

html[data-theme="dark"] {
	@include dark_theme();
}

@media (prefers-color-scheme: dark) {
	@include dark_theme();

	#theme-toggle-item {
		display: none;
	}
}

*:target {
	animation: colorize 2s normal;
	animation-iteration-count: 2;
}

sup:target a {
	animation: pulse 1s normal;
	animation-iteration-count: 3;
}

sup:target::before {
	content: '[';
}

sup:target::after {
	content: ']';
}

@keyframes pulse {
	50% {
		background-color: #88888888;
	}
}

@keyframes colorize {
	33% {
		color: #44bb88;
	}

	66% {
		color: #bb4488;
	}

	100% {}
}

#search-container {
	max-width: 100%;
}

input[type=text] {
	font-size: normal;
	outline: none;
	padding: 1rem;
	width: 100%;
	box-sizing: border-box;
	background: $unopinionated_color;
	-webkit-appearance: none;
	font-family: inherit;
	font-size: 100%;
	border: none;
	border-radius: 10px;
}

#results-container {
	margin: .5rem 0;
}

article {
	display: flex;
	flex-direction: column;
}

blockquote {
	font-style: italic;
	border-left: 5px solid $unopinionated_color;
	padding-left: 1rem;
}

article {
	img {
		width: 70%;
		display: flex;
		margin-left: auto;
		margin-right: auto;
		background: $unopinionated_color;
		padding: 5px;
		border-radius: 10px;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	header> {

		details {
			color: #888888;
		}

		details>p {
			font-size: .9rem;
		}
	}

	abbr {
		text-decoration-line: underline;
		text-decoration-style: wavy;
	}
}

pre,
code {
	background: $unopinionated_color;
	border-radius: 2px;
	padding: .2rem;
	background-color: $unopinionated_color_lighter;
}

code {
	padding: .1rem;
}

pre code {
	background-color: transparent;
}

pre {
	overflow-x: auto;
	padding: .5rem;
}

img {
	max-width: 100%;
}

hr {
	background: $unopinionated_color;
	height: 1px;
	width: 100%;
	border: 0;
}

main {
	max-width: 70rem;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	margin: auto;
	gap: 1rem;
}

main> {
	section {
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
		grid-column: span 3;
		margin: 1rem;
	}

	header {
		border-right: 1px solid $unopinionated_color_lighter;
	}

	footer {
		border-left: 1px solid $unopinionated_color_lighter;
	}

	header, footer {
		position: relative;
		box-sizing: border-box;
		grid-column: span 1;

		nav {
			padding: 1.5rem 2rem;
			position: fixed;
			width: 9rem;
			top: 0;
			bottom: 0;
			overflow-y: auto;
			scrollbar-width: 0;
		}

		::-webkit-scrollbar {
			width: 0;
			background: transparent;
		}


		nav {
			ul {
				margin-block-start: 0;
				margin-block-end: 0;
				padding-inline-start: 0;
				padding-inline-end: 0;
			}

			li {
				//text-align: right;
				margin: .5rem 0;
				padding: 0;
			}

			a, a:hover {
				text-decoration: none;
			}

			a.active {
				font-weight: bolder;
			}
		}
	}
}

figcaption {
	font-size: smaller;
}

p,
ul,
ol,
blockquote,
summary,
table,
input[type=text] {
	margin-block-start: .5rem;
	margin-block-end: .5rem;
}

tr td {
	padding: 10px;
	border: 1px solid $unopinionated_color_lighter;
	border-radius: 10px;
}

table {
	border-radius: 10px;
	background: $unopinionated_color_lighter;
	width: 100%;
	box-sizing: border-box;
}

ul,
ol {
	padding-left: 2rem;
}

blockquote {
	margin-left: 0%;
}

@mixin dashed-separator {
	content: '—';
	font-weight: 300;
	display: block;
	color: $unopinionated_color;
	font-size: 1.75rem;
	text-align: center;
	margin-top: .5rem;
}

.dashed-separator::after {
	@include dashed-separator();
}

main>section>,
article>header {
	h1:first-child {
		text-align: center;
	}

	h1:first-child::after {
		@include dashed-separator();
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: .5rem 0;

	small {
		opacity: 0.75;
		font-weight: 300;
	}

	a {
		text-decoration: none;
	}
}

h1 {
	font-size: 1.75rem !important;
}

h2 {
	font-size: 1.50rem !important;
}

h3 {
	font-size: 1.25rem !important;
}

h4,
h5,
h6 {
	font-size: 1.15rem !important;
}

h5,
h6 {
	font-style: italic;
}

h6 {
	font-weight: 400;
}

ul.posts,
ol.posts {
	margin-block-start: 0;
	margin-block-end: 0;
	padding: .5rem 1rem;
	border: 1px solid $unopinionated_color;
	border-radius: 10px;
}

ol.posts:empty::before {
	content: 'Nothing here yet';
}

.posts,
header ul, footer ul {
	list-style: none;
}

.posts li {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: .25rem 0;
}

.posts li a,
.posts li div {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-decoration: none;
}

.posts li span,
.posts li time {
	padding-left: .7rem;
	white-space: nowrap;
	font-size: .85rem;
	font-weight: 500;
	font-variant-numeric: tabular-nums;
}

.nav-post {
	font-size: .75rem;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	cursor: help;
}

.section-title,
.section-description {
	padding-left: 1rem;
	padding-right: 1rem;
}

.nav-post-link {
	margin-top: 1.2rem;
}

input[name="nav-toggle"],
.navigation-compact {
	display: none;
}

ul.navigation-compact li {
	font-family: Ubuntu, sans-serif;
	font-weight: 500;
	font-size: 12pt !important;
}

ul.navigation-compact li, ul.navigation-main li {
	transition: all 0.5s;
}

ul.navigation-compact li:hover {
	letter-spacing: .2rem;
}

.semantic-h-font-size {
	font-size: 1.15rem !important;
}

.no-spacing {
	margin: 0;
	padding: 0;
}

@media screen and (max-width: 70rem) {
	main {
		gap: 0;
		margin: 0;
		padding: 0;
	}

	main> {
		header, footer {
			grid-column: span 5;
			border: 0;
		}

		header::after {
			@include dashed-separator();
		}

		footer::before {
			@include dashed-separator();
		}

		section {
			margin-top: 0;
			grid-column: span 5;
		}

		header, footer {
			nav {
				position: initial;
				width: initial;
				padding: 0;
			}
		}

		footer nav {
			ul {
				flex-direction: row;
				flex-wrap: wrap;
				justify-items: center;
				margin: .5rem;
			}
			
			li {
				display: inline-flex;
				margin: .5rem;
			}
		}

		header {
			nav {
				margin: 2rem 0 0 0;

			}

			nav {
				ul,
				.navigation-compact {
					flex-wrap: nowrap;
					display: flex;
					overflow: scroll;
					flex-direction: column;
					margin: 0;
					padding: 0;
					margin-block-start: 0;
					margin-block-end: 0;
				}

				li {
					display: flex;
					margin: .5rem auto;
				}

				li a:hover {
					text-decoration: none;
				}
			}

			ul.navigation-main {
				max-height: 0;
				transition: max-height 0.5s;
			}

			li.navigation-compact-close {
				display: none;
			}

			input[name="nav-toggle"]:checked#open~ {
				ul.navigation-main {
					max-height: 64rem;
				}

				ul.navigation-compact>li.navigation-compact-open {
					display: none;
				}

				ul.navigation-compact>li.navigation-compact-close {
					display: flex;
				}

				ul.navigation-main li {
					margin: 1rem auto;
				}
			}
		}
	}

	article {
		img {
			width: 90%;
		}
	}
}